<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p> Bienvenue sur le site des potins !</p>
    <p> Les potins arrivent, bientôt, en attendant tu peux <a href="/gossips/new/">ajouté un potin</a></p>
  </body>
</html>