<html>
  <head>
    <title>The Gossip Project - Display the gossip</title>
  </head>
  <body>
    <h1>La page du potin</h1>
    <a href="<%=id%>/edit">Editer ce gossip</a>
    <% gossips.each do |i| %>
      <p>
      Potin n° <%=id%><br/>
      Son auteur: <%=i.author%><br/>
      Son contenu: <%=i.content%>
      </p>
    <% end %>
  </body>
</html>